nodered/.flows.json.backup
[{"id":"1b641bd8.862064","type":"tab","label":"Nodes Connection Backend","disabled":false,"info":""},{"id":"8d1e8ec3.10698","type":"tab","label":"MQTT Dashboard","disabled":false,"info":""},{"id":"277f6c08.be5414","type":"mqtt-broker","z":"","name":"Mosquitto Docker Compose","broker":"mosquitto","port":"1883","clientid":"nodered-app-1","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"nodered-app-1/status","birthQos":"0","birthPayload":"up","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"ec320b76.f2d078","type":"ui_tab","z":"","name":"Nodes Connection (MQTT)","icon":"dashboard","disabled":false,"hidden":false},{"id":"e81ca34b.7a66e","type":"ui_group","z":"","name":"Humidity","tab":"ec320b76.f2d078","order":2,"disp":true,"width":"8","collapse":false},{"id":"6de49fea.0f782","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Nodes Connection (MQTT)","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"50b5e26d.c6bf0c","type":"ui_spacer","name":"spacer","group":"","order":2,"width":1,"height":1},{"id":"baa608b1.7c9b78","type":"ui_spacer","name":"spacer","group":"","order":1,"width":1,"height":1},{"id":"a89a3a85.6ab0b8","type":"ui_spacer","name":"spacer","group":"","order":3,"width":1,"height":1},{"id":"6e9ba35c.922dec","type":"ui_group","z":"","name":"Temperature","tab":"ec320b76.f2d078","order":1,"disp":true,"width":"8","collapse":false},{"id":"be775804.6b26f8","type":"inject","z":"1b641bd8.862064","name":"App info","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"app/status","payload":"{'app_version': '0.1.0', 'author': 'Agustin Bassi', 'licence':'GPLV3+'}","payloadType":"str","x":360,"y":120,"wires":[["f73825f9.d102b8"]]},{"id":"f73825f9.d102b8","type":"debug","z":"1b641bd8.862064","name":"App info log","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":570,"y":120,"wires":[]},{"id":"71bd64c8.ac4e7c","type":"mqtt in","z":"1b641bd8.862064","name":"device/status/#","topic":"device/status/#","qos":"2","datatype":"auto","broker":"277f6c08.be5414","x":140,"y":220,"wires":[["a1342df6.11f28"]]},{"id":"141c7f05.fc24a1","type":"debug","z":"1b641bd8.862064","name":"Device Status Log","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":810,"y":220,"wires":[]},{"id":"f498f0d6.b4ad5","type":"mqtt out","z":"1b641bd8.862064","name":"device/config/esp32-001","topic":"device/config/esp32-001","qos":"","retain":"","broker":"277f6c08.be5414","x":630,"y":360,"wires":[]},{"id":"e0e618b2.fa2cb8","type":"inject","z":"1b641bd8.862064","name":"Send config to 'esp32-001'","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"device/config/esp32-001","payload":"{\"device_name\": \"esp32-001\" , \"publish_secs\": 10}","payloadType":"str","x":310,"y":360,"wires":[["f498f0d6.b4ad5","e69df304.e8029"]]},{"id":"e69df304.e8029","type":"debug","z":"1b641bd8.862064","name":"Device Config Log","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":630,"y":440,"wires":[]},{"id":"6481a436.d13e6c","type":"link out","z":"1b641bd8.862064","name":"To Dashboard","links":["ada63056.421f8"],"x":735,"y":280,"wires":[]},{"id":"a1342df6.11f28","type":"json","z":"1b641bd8.862064","name":"MQTT to JSON","property":"payload","action":"","pretty":false,"x":360,"y":220,"wires":[["d3f74857.fb6dd8"]]},{"id":"d3f74857.fb6dd8","type":"function","z":"1b641bd8.862064","name":"Add Timestamp","func":"var now = new Date();\nmsg.payload[\"timestamp\"] = now.getTime();\nmsg.payload[\"fomratted-time\"] = now.toUTCString();\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":600,"y":220,"wires":[["141c7f05.fc24a1","6481a436.d13e6c"]]},{"id":"ada63056.421f8","type":"link in","z":"8d1e8ec3.10698","name":"From MQTT client","links":["6481a436.d13e6c"],"x":175,"y":320,"wires":[["3bf58e3d.9a8ac2","fb39ca2f.7a9848","3bdf6956.2fce06"]]},{"id":"3bf58e3d.9a8ac2","type":"debug","z":"8d1e8ec3.10698","name":"From MQTT client log","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":520,"y":160,"wires":[]},{"id":"aa3451ec.03315","type":"ui_gauge","z":"8d1e8ec3.10698","name":"Temperature gauge","group":"6e9ba35c.922dec","order":2,"width":0,"height":0,"gtype":"gage","title":"","label":"° C","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"25","seg2":"40","x":850,"y":200,"wires":[]},{"id":"611e396.8dc61c8","type":"ui_gauge","z":"8d1e8ec3.10698","name":"Humidity Gauge","group":"e81ca34b.7a66e","order":2,"width":0,"height":0,"gtype":"gage","title":"","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#0056b3","#008ee6","#3ac8cb"],"seg1":"","seg2":"","x":840,"y":380,"wires":[]},{"id":"918593ea.8f65a","type":"ui_chart","z":"8d1e8ec3.10698","name":"Temperature Chart","group":"6e9ba35c.922dec","order":3,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"25","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":850,"y":320,"wires":[[]]},{"id":"d3218e5f.a5436","type":"ui_chart","z":"8d1e8ec3.10698","name":"Humidity Chart","group":"e81ca34b.7a66e","order":3,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":840,"y":500,"wires":[[]]},{"id":"fb39ca2f.7a9848","type":"function","z":"8d1e8ec3.10698","name":"Extract temperature","func":"msg.payload = msg.payload['temperature']\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":260,"wires":[["aa3451ec.03315","918593ea.8f65a"]]},{"id":"3bdf6956.2fce06","type":"function","z":"8d1e8ec3.10698","name":"Extract humidity","func":"msg.payload = msg.payload['humidity']\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":420,"wires":[["611e396.8dc61c8","d3218e5f.a5436"]]}]