nodered/.flows.json.backup
[{"id":"1b641bd8.862064","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"277f6c08.be5414","type":"mqtt-broker","z":"","name":"Mosquitto Docker Compose","broker":"mosquitto","port":"1883","clientid":"nodered-app-1","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"nodered-app-1/status","birthQos":"0","birthPayload":"up","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"be775804.6b26f8","type":"inject","z":"1b641bd8.862064","name":"App status","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"app/status","payload":"{'status': 'up', 'app_version': '0.1.0', 'author': 'Agustin Bassi'}","payloadType":"str","x":260,"y":140,"wires":[["f73825f9.d102b8"]]},{"id":"f73825f9.d102b8","type":"debug","z":"1b641bd8.862064","name":"App status log","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":640,"y":140,"wires":[]},{"id":"71bd64c8.ac4e7c","type":"mqtt in","z":"1b641bd8.862064","name":"device/status/#","topic":"device/status/#","qos":"2","datatype":"auto","broker":"277f6c08.be5414","x":260,"y":220,"wires":[["141c7f05.fc24a1"]]},{"id":"141c7f05.fc24a1","type":"debug","z":"1b641bd8.862064","name":"Device Status Log","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":630,"y":220,"wires":[]},{"id":"f498f0d6.b4ad5","type":"mqtt out","z":"1b641bd8.862064","name":"device/config/esp32-001","topic":"device/config/esp32-001","qos":"","retain":"","broker":"277f6c08.be5414","x":630,"y":320,"wires":[]},{"id":"e0e618b2.fa2cb8","type":"inject","z":"1b641bd8.862064","name":"Config Device 'esp32-001'","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"device/config/esp32-001","payload":"{'device_name': 'esp32-001 , 'publish_secs': '10'}","payloadType":"str","x":310,"y":320,"wires":[["f498f0d6.b4ad5"]]}]